.btn {
  position: fixed;
  top: 5rem;
  right: 5rem;

  &__burger {
    &,
    &::before,
    &::after {
      width: 2rem;
      height: 6px;
      background: black;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
    }

    &::before {
      transform: translateY(
        -12px
      );
    }
    &::after {
      transform: translateY(
        12px
      );
    }
  }
}

/*
.btn {
  top: 5rem;
  right: 3rem;
  position: fixed;
  align-items: center;
  justify-content: center;

  &__burger {
    &,
    &::before,
    &::after {
      width: 2rem;
      height: 6px;
      background: black;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
    }

    &::before {
      transform: translateY(
        -12px
      );
    }
    &::after {
      transform: translateY(
        12px
      );
    }
  }
  &__button {
    background-color: white;

    height: 3rem;
    width: 3rem;
    border-radius: 50%;
  }
  &__checkbox {
    display: none;
  }

  &__icon {
    position: relative;
    width: 3rem;
    height: 2px;
    background-color: black;
    display: inline-block;
  }
}
*/
